<style>
  .collapsible {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
  }

  .collapseDataset {
    display: none;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
</style>
{% set datasets_count = data.related_dataset|length %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!--<a class="btn btn-primary" data-toggle="collapse" id="{{idName}}" role="button" aria-expanded="false" aria-controls="collapseExample" style="width:100%;text-align:left;">-->

    <div id="{{field.field_name}}">
    <div class="btn-primary collapsible" role="button">
        {% if field.label == 'Related Dataset' %}
            {{datasets_count}} {{ field.label }}{{ _('(s)') }}
        {% else %}
            {{ field.label }}
        {% endif %}
        <span id="iconCollapse" class="down-icon" style="position:right">&#8964;</span>
    </div>

        <p> {{ field }} {{data}}</p>

    <div class="collapseDataset" id="collapseDataset" >
            {% snippet 'scheming/display_snippets/related_entity.html', field=field, data=data  %}
    </div>
     <br>
    </div>





<script type="text/javascript">
$(document).ready(function() {
  $(".collapsible").click(function() {
    var content = $(this).next(".collapseDataset");
    var icon = $(this).find(".iconCollapse");

   if (content.is(":hidden")) {
     content.slideToggle();
     icon.html("&#8963;");
                   // Up arrow
   }
   else {
     content.slideToggle();
     icon.html("&#8964;"); // Down arrow
   }

  });
});
</script>


